body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(/test\(1\).jpg)
}

h1 {
    font-size: 50px;
}

.nc {
    color: crimson;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
    font-size: larger;
}

.text {
    margin: 25px;
    padding: 100px;
    font-size: 20px;
    width: 80%;

    color: rgb(66, 1, 216);
}

.pic {
    font-weight: 200;
    width: 50%;
    padding-left: 10%;
    padding-bottom: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(crimson, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}